<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../components/metas %>

    <title>Welcome</title>

    <% include ../components/stylesheets %>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <section class="col-sm-12 col-md-12 col-lg-10 col-lg-offset-1">
          <h1>Soft Sight</h1>
        </section>

        <main class="col-sm-12 col-md-12 col-lg-10 col-lg-offset-1" id="root"></main>

        <noscript class="col-sm-12 col-md-12 col-lg-10 col-lg-offset-1">
          <h3>Hey, JavaScript needs to be enabled to use this app.</h3>
        </noscript>
      </div>
    </div>

    <script src="js/vendor.js" charset="utf-8"></script>
    <script src="js/index.js" charset="utf-8"></script>
  </body>
</html>
