<header class="sticky row">
  <div class="col-sm-12 col-md-12 col-lg-10 col-lg-offset-1">
    <label for="drawer-checkbox" class="button drawer-toggle"></label>
    <a href="." class="button hidden-sm">Home</a>
  </div>
</header>

<input type="checkbox" id="drawer-checkbox">
<nav class="drawer hidden-md hidden-lg">
  <label for="drawer-checkbox" class="close"></label>
  <h4><a href="./">Home</a></h4>
</nav>
